.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(270deg, #466751, #0c7c9d);
  background-size: 400% 400%;

  -webkit-animation: BackgroundGradient 16s ease infinite;
  -moz-animation: BackgroundGradient 16s ease infinite;
  animation: BackgroundGradient 16s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.start-button {
  border: 1px solid #eff1f3;
  color: #eff1f3;
}

.start-button:hover {
  background-color: #eff1f3;
  color: #386c64;
}
